@model IEnumerable<GameSimulationN.Models.Building>

@{
    ViewBag.Title = "Building";
}

<h2>Building</h2>

<p>
    @Html.ActionLink("Add New Building", "Create", "Building", new { id = Model.FirstOrDefault().CityId }, new { @class = "btn btn-primary" })
</p>
@*@ViewBag.CityId = @Model.FirstOrDefault().CityId ;*@
<div class="clearfix">
    <label class="control-label col-md-1 font-20" for="disabledInput">City: </label>
    <div class="col-lg-3">
        <input class="form-control" id="disabledInput" type="text" placeholder="@Model.FirstOrDefault().CityName" disabled="">
    </div>
</div>
<br/>
<a href="#" class="btn btn-success">Coins 
    <img src="~/Content/Coins-icon.png" /> <span class="badge">@Model.FirstOrDefault().GoldCoins</span> </a>
<br />
<br />
<table class="table">

    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CityId)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.BuildingId)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.BuildingName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Levels)
        </th>
        <th>
            Upgrade Level
        </th>

        @*<th>
                @Html.DisplayNameFor(model => model.ModifyDate)
            </th>*@
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>


            <td>
                @Html.DisplayFor(modelItem => item.CityId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BuildingName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Levels)
            </td>
            <td>
                @Html.ActionLink("Upgrade Level", "UpgradeLevel", "Building", new { CityId = item.CityId, BuildingId = item.BuildingId }, null)
            </td>

        </tr>
    }


</table>

<div>
    @Html.ActionLink("← Back to City", "Index", "City", null, new { @class = "btn btn-primary" })
</div>