@model IEnumerable<GameSimulationN.Models.Building>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @*@Html.ActionLink("Add New Building", "Create", "Building", new { id = 1 }, null)*@
    @Html.ActionLink("Add New Building", "Create", "Building", new { id = Model.FirstOrDefault().CityId }, null)
</p>
<table class="table">
    @*@ViewBag.CityId = @Model.FirstOrDefault().CityId;*@
    City name : @Model.FirstOrDefault().CityName)
    <br />
    Coins : @Model.FirstOrDefault().GoldCoins
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CityId)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.BuildingId)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.BuildingName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Levels)
        </th>
        <th>
            Upgrade Level
        </th>

        @*<th>
                @Html.DisplayNameFor(model => model.ModifyDate)
            </th>*@
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>


            <td>
                @Html.DisplayFor(modelItem => item.CityId)
            </td>
            @*   <td>
                    @Html.DisplayFor(modelItem => item.BuildingId)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.BuildingName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Levels)
            </td>
            <td>
                @Html.ActionLink("Upgrade Level", "Create", "Building", new { id = item.CityId }, null)
            </td>

        </tr>
    }

</table>
